@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 600 700;
  font-style: normal;
}
@font-face {
  font-family: "Young Serif";
  src: url("../fonts/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F3E5D7;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
}

.recipe-card__line {
  margin-bottom: 32px;
  flex: 1;
  height: 1px;
  background-color: #E3DDD7;
}

table {
  width: 100%;
}

td {
  padding-left: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}

tr {
  border-bottom: 1px solid #E3DDD7;
}
tr:last-of-type {
  border-bottom: 0;
}

li::marker {
  color: #7A284E;
  font-weight: 700;
}

.recipe-card__instructions-list-item_bold {
  font-weight: 700;
}

.container {
  padding: 40px;
  padding-bottom: 28px;
  margin: 30px auto;
  max-width: 736px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 24px;
}
@media screen and (max-width: 1140px) {
  .container {
    max-width: 616px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    max-width: 290px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    padding: 40px 30px;
    padding-bottom: 28px;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.recipe-card__header-img {
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.recipe-card__description-title {
  margin-bottom: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-family: "Young Serif", sans-serif;
  font-size: clamp(36px, 2.08vw, 40px);
  color: #312E2C;
}
.recipe-card__description-text {
  margin-bottom: 32px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-size: 16px;
  line-height: 150%;
}
.recipe-card__preparation {
  margin-bottom: 32px;
  padding: 24px;
  background-color: #FFF7FB;
}
.recipe-card__preparation-title {
  margin-bottom: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #7A284E;
}
.recipe-card__preparation-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-size: 16px;
  line-height: 150%;
}
.recipe-card__preparation-list-item {
  padding-left: 16px;
}
.recipe-card__preparation-list-item span {
  font-weight: 700;
}
.recipe-card__ingredients-title {
  margin-bottom: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-family: "Young Serif", sans-serif;
  font-size: 28px;
  color: #854632;
}
.recipe-card__ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin-bottom: 32px;
  padding-left: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-size: 16px;
  line-height: 150%;
}
.recipe-card__ingredients-list-item {
  padding-left: 16px;
}
.recipe-card__instructions-title {
  margin-bottom: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-family: "Young Serif", sans-serif;
  font-size: 28px;
  color: #854632;
}
.recipe-card__instructions-list {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin-bottom: 32px;
  padding-left: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-size: 16px;
  line-height: 150%;
}
.recipe-card__instructions-list-item {
  padding-left: 16px;
}
.recipe-card__nutrition-title {
  margin-bottom: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-family: "Young Serif", sans-serif;
  font-size: 28px;
  color: #854632;
}
.recipe-card__nutrition-text {
  margin-bottom: 12px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-size: 16px;
  line-height: 150%;
}
.recipe-card__nutrition-table span {
  color: #854632;
  font-weight: 700;
  line-height: 150%;
}

.footer {
  position: absolute;
  bottom: 10px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5F564D;
  line-height: 100%;
  font-size: 0.8rem;
}
.footer span {
  color: #312E2C;
}
@media (hover: hover) {
  .footer span:hover {
    color: #854632;
    cursor: pointer;
  }
  .footer span:active {
    opacity: 0.5;
  }
}/*# sourceMappingURL=style.css.map */