* {
	box-sizing: border-box;
}

body {
  background-color: $secondary-100;
}

table {
	font-family: "Outfit", sans-serif;
	width: 100%;
	color: plum;
	margin-top: 0.5rem;
}

td {
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
tr {
	border-bottom: 1px solid black;

	&:last-of-type {
		border-bottom: 0;
	}
}