.container {
  padding: 40px;
  padding-bottom: 28px;
  margin: 128px auto;
  max-width: map-get($container-max-widths, lg);
  width: 100%;
  background-color: $white;
  border-radius: 24px;
  @include container-mq;

  @media screen and (max-width: 640px) {
    margin: 0 auto;
    padding: 40px 30px;
    padding-bottom: 28px;
    border-radius: 0;
  }
}