.footer {
  position: absolute;
  bottom: 10px;
  @include text-footer;

  @media screen and (max-width: 640px) {
    display: none;
  }

  & span {
    color: $secondary-900;

    @media (hover: hover) {
      &:hover {
        color: $brown-800;
        cursor: pointer;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}