.recipe-card {

  &__header {

    &-img {
      margin-bottom: 40px;
      width: 656px;
      height: auto;
      border-radius: 12px;

      @media screen and (max-width: 1140px) {
        max-width: 536px;
      }

      @media screen and (max-width: 640px) {
        max-width: 375px;
        width: 100%;
      }
    }
  }
  &__description {

    &-title {
      margin-bottom: 24px;
      font-family: $font-family-young;
      font-size: clamp(36px, 2.08vw, 40px);
      font-weight: 400;
      line-height: $line-height-100;
      color: $secondary-900;
    }
    &-text {
      margin-bottom: 32px;
      font-size: 16px;
      line-height: $line-height-150;
    }
  }
  &__preparation {
    margin-bottom: 32px;
    padding: 24px;
    background-color: $primary-50;

    &-title {
      margin-bottom: 16px;
      font-size: 20px;
      font-weight: 600;
      color: $primary-800;
      line-height: $line-height-100;
    }
    &-list {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 8px 0;
      font-size: 16px;
      line-height: $line-height-150;

      &-item {
        padding-left: 16px;

        & span {
          font-weight: 700;
        }
      }
    }
  }
  &__ingredients {

    &-title {
      margin-bottom: 24px;
      font-family: $font-family-young;
      font-size: 28px;
      font-weight: 400;
      color: $brown-800;
      line-height: $line-height-100;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 8px 0;
      margin-bottom: 32px;
      padding-left: 20px;
      line-height: $line-height-150;

      &-item {
        padding-left: 16px;
      }
    }
  }
  &__instructions {

    &-title {
      margin-bottom: 24px;
      font-family: $font-family-young;
      font-size: 28px;
      font-weight: 400;
      color: $brown-800;
      line-height: $line-height-100;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 8px 0;
      margin-bottom: 32px;
      padding-left: 20px;
      line-height: $line-height-150;

      &-item {
        padding-left: 16px;
      }
    }
  }
  &__nutrition {

    &-title {
      margin-bottom: 24px;
      font-family: $font-family-young;
      font-size: 28px;
      font-weight: 400;
      color: $brown-800;
      line-height: $line-height-100;
    }

    &-text {
      margin-bottom: 12px;
      font-size: 16px;
      line-height: $line-height-150;
    }
    &-table {

      & span {
        color: $brown-800;
        font-weight: 700;
        line-height: $line-height-150;
      }
    }
  }
}