// Typography
$font-family-young: 'Young Serif', sans-serif;
$font-family-outfit: 'Outfit', sans-serif;
$font-size-xl: clamp(36px, 2.08vw, 40px);
$font-size-lg: 28px;
$font-size-md: 20px;
$font-size-sm: 16px;
$font-size-xs: 0.8rem;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$line-height-150: 150%;
$line-height-100: 100%;
$letter-spacing: 0px;

// Colors
$primary-800: #7A284E;
$primary-50: #FFF7FB;
$secondary-900: #312E2C;
$secondary-600: #5F564D;
$secondary-150: #E3DDD7;
$secondary-100: #F3E5D7;
$brown-800: #854632;
$white: #FFFFFF;

// Containers widths
$container-max-widths: (
  xs: 290px,
  sm: 375px,
  md: 616px,
  lg: 736px,
);

// Breakpoints
$breakpoints: (
  xs: 400px,
  sm: 640px,
  md: 1140px,
);

// Spacing
$spacing-1600: 128px;
$spacing-600: 48px;
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;